In [1]:
import numpy as np
import pandas as pd
import os  
import seaborn as sns
import matplotlib.pyplot as plt
import csv
import io
import dateutil
import collections
import time
from datetime import datetime
import wrds
import networkx as nx
%matplotlib inline

wrds is the package for the Wharton Database. wrds.Connection() connects to the database and is needed for each command

In [2]:
db = wrds.Connection()

Enter your WRDS username [ahardy12]:ahardy12
Enter your password:········
WRDS recommends setting up a .pgpass file.
You can find more info here:
https://www.postgresql.org/docs/9.5/static/libpq-pgpass.html.
Loading library list...
Done

list_libraries() list all libraries that can be connected to from the wrds package in python

In [3]:
list_libraries = db.list_libraries()
list_libraries[:10]

['public',
 'wrds_lib_internal',
 'centris',
 'ginsight',
 'gsi',
 'rent',
 'wrdsapps',
 'ims_obp_trial',
 'ginsight_basic',
 'ginsight_common']

The library needed is comp and the table within that library is funda. This represents the North America Fundamentals Annuals within Compustat Capital IQ.

Comp.Funda Variables:

ACT -- Current Assets - Total        AT -- Assets - Total            BKVLPS -- Book Value Per Share

CH -- Cash                           COGS -- Cost of Goods Sold      DVT -- Dividends - Total

GDWL -- Goodwill                     IB -- Income Before Extraordinary Items    LT -- Liabilities - Total

NI -- Net Income (Loss)              REVT -- Revenue - Total         SALE -- Sales/Turnover (Net)

SEQ -- Stockholders' Equity - Total  SIV -- Sale of Investments      SPPE -- Sale of Property

In [101]:
Full_db = db.raw_sql("select gvkey,fyear,tic,conm,act,at,bkvlps,ch,cogs,dvt,gdwl,ib,lt,ni,revt,sale,seq,siv,sppe from comp.funda where gvkey='008446' OR gvkey='005073' OR gvkey='009563' OR gvkey='006066' OR gvkey='006307' OR gvkey='006135' OR gvkey='005047' OR gvkey='006765' OR gvkey='004839' OR gvkey='007811' OR gvkey='003022' OR gvkey='001581' OR gvkey='0023978' OR gvkey='007155' OR gvkey='0010983' OR gvkey='001481' OR gvkey='008549' OR gvkey='004961' OR gvkey='0011259' OR gvkey='002285' OR gvkey='0063919' OR gvkey='007585' OR gvkey='005606' OR gvkey='0017828' OR gvkey='0062599' OR gvkey='003282' OR gvkey='005680' OR gvkey='007171' OR gvkey='002751' OR gvkey='0031673' OR gvkey='002136' OR gvkey='009899' OR gvkey='0010984' OR gvkey='003813' OR gvkey='002991' OR gvkey='0012384' OR gvkey='0030067' OR gvkey='0064768' OR gvkey='00125595' OR gvkey='00266315' OR gvkey='0029099' OR gvkey='0015111' OR gvkey='00177943'  LIMIT 1000;" )

In [116]:
Full_db[291:292]

,gvkey,fyear,tic,conm,act,at,bkvlps,ch,cogs,dvt,gdwl,ib,lt,ni,revt,sale,seq,siv,sppe
291,002751,2017.0,CAH,CARDINAL HEALTH INC,28345.0,40112.0,21.5443,6879.0,123130.0,580.0,7221.0,1288.0,33166.0,1288.0,129976.0,129976.0,6808.0,305.0,NaN

In [117]:
Full_db[401:402]

,gvkey,fyear,tic,conm,act,at,bkvlps,ch,cogs,dvt,gdwl,ib,lt,ni,revt,sale,seq,siv,sppe
401,003022,1971.0,C.3,CHRYSLER CORP,2410.922,4999.719,44.5321,82.925,7041.496,30.104,NaN,83.66,2689.348,83.66,7999.336,7999.336,2268.913,NaN,14.49

In [121]:
Full_db[520:521]

,gvkey,fyear,tic,conm,act,at,bkvlps,ch,cogs,dvt,gdwl,ib,lt,ni,revt,sale,seq,siv,sppe
520,003813,2011.0,TGT,TARGET CORP,16449.0,46630.0,23.6384,794.0,48306.0,777.0,59.0,2929.0,30809.0,2929.0,69865.0,69865.0,15821.0,0.0,37.0