In [16]:
import numpy as np
import pandas as pd
import os  
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import csv
import io
import dateutil
import collections
import time
from datetime import datetime
import wrds
import networkx as nx
from __future__ import division
from openpyxl import load_workbook

In [2]:
G = nx.DiGraph()

In [56]:
#for i in range(1976,1978):
    #nodelist_= pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheet_name=str(i))

In [87]:
nodelist_1977

,Supplier_Gvkey,Supplier_Name,Customer_Gvkey,Customer_Name,Date,Customer_Sales
0,5017,GEMTEC CORP,11345,WEISFIELDS,1977-01-31,0.680
1,5017,GEMTEC CORP,11669,ZALE CORP,1977-01-31,0.000
2,6939,MAGIC MARKER CORP,8446,J C PENNEY CO,1977-01-31,1.140
3,9277,ROYALPAR INDUSTRIES INC,7155,MCDONNEL DG,1977-01-31,0.806
4,11025,UNIVERSAL-RUNDLE CORP,9563,SEARS ROEBK,1977-01-31,27.860
5,5864,ITX CORP,9459,SCHERING CORP,1977-03-31,0.654
6,5989,INSTRUMENTATION LABS INC,1481,AM HOSP SUP,1977-03-31,26.601
7,6250,JEROME GROUP INC,3413,CONS EDISON,1977-03-31,2.013
8,6250,JEROME GROUP INC,6799,LONG ISLAND,1977-03-31,0.071
9,6315,K V PHARMACEUTICAL -CL A,7040,MARION LABS,1977-03-31,1.917
10,7819,NETWORK DATA PROCESSING CORP,5860,ITT LIFE INS,1977-03-31,0.186
11,9462,SCHILLER INDUSTRIES,5073,GEN MOTORS,1977-03-31,4.000
12,10756,TUCKER DRILLING CO INC,5384,GULF ENERGY,1977-03-31,1.705
13,10756,TUCKER DRILLING CO INC,12045,UNION TEXAS,1977-03-31,1.085
14,11549,WISCONSIN CENTRIFUGAL,5073,GEN MOTORS CP,1977-03-31,11.311
15,1747,ARKWIN INDUSTRIES INC,2033,FAIRCHILD REP,1977-04-30,1.075
16,1747,ARKWIN INDUSTRIES INC,5047,GEN ELECTRIC,1977-04-30,2.073
17,1747,ARKWIN INDUSTRIES INC,5360,GRUMMAN,1977-04-30,1.152
18,1747,ARKWIN INDUSTRIES INC,6774,LOCKHEED,1977-04-30,0.537
19,2660,CAMPBELL MANUFACTURING INC,3022,CHRYSLER BOAT,1977-04-30,0.437
20,3127,COAP SYSTEMS INC,1585,VANGUARD VENT,1977-04-30,0.089
21,3127,COAP SYSTEMS INC,4429,EQUIT L MTG,1977-04-30,0.111
22,3766,DATA PROBE INC,4094,DUN & BRADSTR,1977-04-30,0.060
23,5957,INFRARED INDUSTRIES INC,10153,SUN EL CP,1977-04-30,2.103
24,6376,KELLWOOD CO,9563,SEARS ROEBK,1977-04-30,284.715
25,6376,KELLWOOD CO,9563,SEARS ROEBK,1977-04-30,79.606
26,8232,PAR SYSTEMS CORP,3224,COMBSTN ENG,1977-04-30,1.364
27,8232,PAR SYSTEMS CORP,5047,GEN ELECTRC,1977-04-30,1.856
28,8232,PAR SYSTEMS CORP,7978,NOR ST PWR,1977-04-30,0.967
29,10666,TRANSACT INTL INC,2529,CBS INC,1977-04-30,0.697
...,...,...,...,...,...,...
628,11225,VULCAN INTL CORP,5109,GENESCO INC,1977-12-31,4.100
629,11252,WADELL EQUIPMENT CO INC,5047,GEN EL,1977-12-31,0.231
630,11252,WADELL EQUIPMENT CO INC,10499,TX INSTR,1977-12-31,0.393
631,11255,WAGNER (E.R.)MANUFACTURING,5256,GRAINGER INC,1977-12-31,1.574
632,11255,WAGNER (E.R.)MANUFACTURING,11465,WHIRLPOOL,1977-12-31,3.065
633,11280,WARD FOODS INC,10190,SUPER VALU ST,1977-12-31,7.863
634,11287,WARNER ELEC BRAKE & CLUTCH,3022,CHRYSLER CP,1977-12-31,17.309
635,11361,AG&E HOLDINGS INC,13290,WESTN AUTO,1977-12-31,4.556
636,11376,WEST PHARMACEUTICAL SVSC INC,2111,"BECTON,DICK",1977-12-31,19.583
637,11462,HANDY & HARMAN LTD,5073,GEN MOTORS,1977-12-31,106.264
638,11465,WHIRLPOOL CORP,9563,SEARS ROEBK,1977-12-31,1045.756
639,11468,WHITE EAGLE INTERNATIONAL,5245,GOULD INC,1977-12-31,0.929
640,11468,WHITE EAGLE INTERNATIONAL,7155,MCDONNEL DG,1977-12-31,0.165
641,11468,WHITE EAGLE INTERNATIONAL,8972,RAYTHEON CO,1977-12-31,0.404
642,11516,WILSON BROTHERS USA INC,6307,K MART CORP,1977-12-31,10.878
643,11516,WILSON BROTHERS USA INC,8446,PENNEY (JC),1977-12-31,0.000
644,11516,WILSON BROTHERS USA INC,9563,SEARS ROEBK,1977-12-31,0.000
645,11532,WINDSOR HOLDING CORP,6307,K MART CORP,1977-12-31,0.532
646,11532,WINDSOR HOLDING CORP,11583,WOOLWTH(FW),1977-12-31,0.851
647,11532,WINDSOR HOLDING CORP,11672,ZAYRE CORP,1977-12-31,0.904
648,11541,WINSTON MILLS INC,8829,PURITAN,1977-12-31,5.556
649,11561,WIX CORP,5125,GENUINE PARTS,1977-12-31,18.854
650,11576,WOODS INVESTMENT CO,5073,GEN MOTORS,1977-12-31,39.000
651,11588,WORK WEAR CORP-OLD,13196,ARA SERVICE,1977-12-31,0.000
652,11597,WORLDWIDE ENERGY CORP,4503,EXXON CO USA,1977-12-31,1.462
653,11597,WORLDWIDE ENERGY CORP,5903,IMPRL OIL,1977-12-31,0.801
654,11597,WORLDWIDE ENERGY CORP,10156,SUN CO,1977-12-31,1.214
655,13148,CONAIR CORP/DE,5288,GRAYBAR ELEC,1977-12-31,5.900
656,15343,MUELLER INDUSTRIES,23978,U S STEEL,1977-12-31,12.406
657,21504,CONE MILLS CORP,16476,LEVI STRA,1977-12-31,105.978

In [88]:
nodelist_1976 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="1976")
nodelist_1977 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="1977")
nodelist_1978 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="1978")
nodelist_1979 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="1979")
nodelist_1980 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="1980")
nodelist_1981 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="1981")
nodelist_1982 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="1982")
nodelist_1983 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="1983")
nodelist_1984 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="1984")
nodelist_1985 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="1985")
nodelist_1986 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="1986")
nodelist_1987 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="1987")
nodelist_1988 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="1988")
nodelist_1989 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="1989")
nodelist_1990 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="1990")
nodelist_1991 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="1991")
nodelist_1992 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="1992")
nodelist_1993 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="1993")
nodelist_1994 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="1994")
nodelist_1995 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="1995")
nodelist_1996 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="1996")
nodelist_1997 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="1997")
nodelist_1998 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="1998")
nodelist_1999 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="1999")
nodelist_2000 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="2000")
nodelist_2001 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="2001")
nodelist_2002 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="2002")
nodelist_2003 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="2003")
nodelist_2004 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="2004")
nodelist_2005 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="2005")
nodelist_2006 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="2006")
nodelist_2007 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="2007")
nodelist_2008 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="2008")
nodelist_2009 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="2009")
nodelist_2010 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="2010")
nodelist_2011 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="2011")
nodelist_2012 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="2012")
nodelist_2013 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="2013")
nodelist_2014 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="2014")
nodelist_2015 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="2015")
nodelist_2016 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="2016")
nodelist_2017 = pd.read_excel('Supply_Chain_DB_By_Date.xlsx', sheetname="2017")

In [89]:
G_1976=nx.from_pandas_edgelist(nodelist_1976,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)
G_1977=nx.from_pandas_edgelist(nodelist_1977,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)
G_1978=nx.from_pandas_edgelist(nodelist_1978,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)
G_1979=nx.from_pandas_edgelist(nodelist_1979,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)
G_1980=nx.from_pandas_edgelist(nodelist_1980,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)
G_1981=nx.from_pandas_edgelist(nodelist_1981,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)
G_1982=nx.from_pandas_edgelist(nodelist_1982,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)
G_1983=nx.from_pandas_edgelist(nodelist_1983,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)
G_1984=nx.from_pandas_edgelist(nodelist_1984,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)
G_1985=nx.from_pandas_edgelist(nodelist_1985,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)
G_1986=nx.from_pandas_edgelist(nodelist_1986,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)
G_1987=nx.from_pandas_edgelist(nodelist_1987,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)
G_1988=nx.from_pandas_edgelist(nodelist_1988,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)
G_1989=nx.from_pandas_edgelist(nodelist_1989,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)
G_1990=nx.from_pandas_edgelist(nodelist_1990,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)
G_1991=nx.from_pandas_edgelist(nodelist_1991,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)
G_1992=nx.from_pandas_edgelist(nodelist_1992,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)
G_1993=nx.from_pandas_edgelist(nodelist_1993,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)
G_1994=nx.from_pandas_edgelist(nodelist_1994,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)
G_1995=nx.from_pandas_edgelist(nodelist_1995,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)
G_1996=nx.from_pandas_edgelist(nodelist_1996,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)
G_1997=nx.from_pandas_edgelist(nodelist_1997,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)
G_1998=nx.from_pandas_edgelist(nodelist_1998,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)
G_1999=nx.from_pandas_edgelist(nodelist_1999,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)
G_2000=nx.from_pandas_edgelist(nodelist_2000,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)
G_2001=nx.from_pandas_edgelist(nodelist_2001,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)
G_2002=nx.from_pandas_edgelist(nodelist_2002,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)
G_2003=nx.from_pandas_edgelist(nodelist_2003,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)
G_2004=nx.from_pandas_edgelist(nodelist_2004,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)
G_2005=nx.from_pandas_edgelist(nodelist_2005,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)
G_2006=nx.from_pandas_edgelist(nodelist_2006,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)
G_2007=nx.from_pandas_edgelist(nodelist_2007,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)
G_2008=nx.from_pandas_edgelist(nodelist_2008,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)
G_2009=nx.from_pandas_edgelist(nodelist_2009,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)
G_2010=nx.from_pandas_edgelist(nodelist_2010,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)
G_2011=nx.from_pandas_edgelist(nodelist_2011,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)
G_2012=nx.from_pandas_edgelist(nodelist_2012,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)
G_2013=nx.from_pandas_edgelist(nodelist_2013,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)
G_2014=nx.from_pandas_edgelist(nodelist_2014,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)
G_2015=nx.from_pandas_edgelist(nodelist_2015,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)
G_2016=nx.from_pandas_edgelist(nodelist_2016,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)
G_2017=nx.from_pandas_edgelist(nodelist_2017,'Supplier_Gvkey','Customer_Gvkey', edge_attr=True)

In [90]:
G_1976= G_1976 .to_directed()
G_1977= G_1977.to_directed()
G_1978= G_1978.to_directed()
G_1979= G_1979.to_directed()
G_1980= G_1980.to_directed()
G_1981= G_1981 .to_directed()
G_1982= G_1982.to_directed()
G_1983= G_1983.to_directed()
G_1984= G_1984.to_directed()
G_1985= G_1985 .to_directed()
G_1986= G_1986 .to_directed()
G_1987= G_1987.to_directed()
G_1988= G_1988.to_directed()
G_1989= G_1989 .to_directed()
G_1990= G_1990.to_directed()
G_1991= G_1991 .to_directed()
G_1992= G_1992.to_directed()
G_1993= G_1993.to_directed()
G_1994= G_1994 .to_directed()
G_1995= G_1995.to_directed()
G_1996= G_1996.to_directed()
G_1997= G_1997.to_directed()
G_1998= G_1998 .to_directed()
G_1999= G_1999.to_directed()
G_2000= G_2000.to_directed()
G_2001= G_2001.to_directed()
G_2002= G_2002.to_directed()
G_2003= G_2003.to_directed()
G_2004= G_2004.to_directed()
G_2005= G_2005.to_directed()
G_2006= G_2006.to_directed()
G_2007= G_2007.to_directed()
G_2008= G_2008.to_directed()
G_2009= G_2009.to_directed()
G_2010= G_2010.to_directed()
G_2011= G_2011.to_directed()
G_2012= G_2012.to_directed()
G_2013= G_2013.to_directed()
G_2014= G_2014.to_directed()
G_2015= G_2015.to_directed()
G_2016= G_2016.to_directed()
G_2017= G_2017.to_directed()

In [24]:
#wb = load_workbook(r"Supply_Chain_DB_By_Date.xlsx")
for sheet in wb:
    print(sheet)

In [150]:
Graph_List= [G_1976,G_1977,G_1978,G_1979,G_1980,G_1981,G_1982,G_1983,G_1984,G_1985,G_1986,G_1987,G_1988,G_1989,G_1990,G_1991,G_1992,G_1993,G_1994,G_1995,G_1996,G_1997,G_1998,G_1999,G_2000,G_2001,G_2002,G_2003,G_2004,G_2005,G_2006,G_2007,G_2008,G_2009,G_2010,G_2011,G_2012,G_2013,G_2014,G_2015,G_2016,G_2017]

In [146]:
nx.info(G_1987)

'Name: \nType: DiGraph\nNumber of nodes: 2203\nNumber of edges: 4951\nAverage in degree:   2.2474\nAverage out degree:   2.2474'

In [153]:
count = 0
for l in Graph_List:
    Yearly_Comparison_df.loc[count,"Highest_Degree"] = (len(nx.degree_histogram(l))-1)/2
    count=count+1

In [148]:
Yearly_Comparison_df.loc[10] = [1987,2203,4951,2.2474,2.2474]

In [154]:
Yearly_Comparison_df

,Year,Number_of_Nodes,Number_of_Edges,Average_In_Degree,Average_Out_Degree,Highest_Degree
0,1976.0,172.0,253.0,1.4709,1.4709,7.0
1,1977.0,712.0,1257.0,1.7654,1.7654,49.0
2,1978.0,1137.0,2228.0,1.9595,1.9595,84.0
3,1979.0,1219.0,2460.0,2.0180,2.0180,90.0
4,1980.0,1321.0,2628.0,1.9894,1.9894,92.0
5,1981.0,1368.0,2702.0,1.9751,1.9751,86.0
6,1983.0,1752.0,3737.0,2.1330,2.1330,85.0
7,1984.0,1846.0,4145.0,2.2454,2.2454,94.0
8,1985.0,2014.0,4547.0,2.2577,2.2577,100.0
9,1986.0,2167.0,4929.0,2.2746,2.2746,114.0
10,1987.0,2203.0,4951.0,2.2474,2.2474,127.0
11,NaN,NaN,NaN,NaN,NaN,119.0
12,NaN,NaN,NaN,NaN,NaN,96.0
13,NaN,NaN,NaN,NaN,NaN,95.0
14,NaN,NaN,NaN,NaN,NaN,91.0
15,NaN,NaN,NaN,NaN,NaN,98.0
16,NaN,NaN,NaN,NaN,NaN,105.0
17,NaN,NaN,NaN,NaN,NaN,113.0
18,NaN,NaN,NaN,NaN,NaN,132.0
19,NaN,NaN,NaN,NaN,NaN,127.0
20,NaN,NaN,NaN,NaN,NaN,146.0
21,NaN,NaN,NaN,NaN,NaN,137.0
22,NaN,NaN,NaN,NaN,NaN,121.0
23,NaN,NaN,NaN,NaN,NaN,103.0
24,NaN,NaN,NaN,NaN,NaN,125.0
25,NaN,NaN,NaN,NaN,NaN,139.0
26,NaN,NaN,NaN,NaN,NaN,145.0
27,NaN,NaN,NaN,NaN,NaN,147.0
28,NaN,NaN,NaN,NaN,NaN,142.0
29,NaN,NaN,NaN,NaN,NaN,147.0
30,NaN,NaN,NaN,NaN,NaN,142.0
31,NaN,NaN,NaN,NaN,NaN,142.0
32,NaN,NaN,NaN,NaN,NaN,140.0
33,NaN,NaN,NaN,NaN,NaN,132.0
34,NaN,NaN,NaN,NaN,NaN,130.0
35,NaN,NaN,NaN,NaN,NaN,122.0
36,NaN,NaN,NaN,NaN,NaN,122.0
37,NaN,NaN,NaN,NaN,NaN,126.0
38,NaN,NaN,NaN,NaN,NaN,126.0
39,NaN,NaN,NaN,NaN,NaN,116.0
40,NaN,NaN,NaN,NaN,NaN,114.0
41,NaN,NaN,NaN,NaN,NaN,65.0

In [152]:
Yearly_Comparison_df

,Year,Number_of_Nodes,Number_of_Edges,Average_In_Degree,Average_Out_Degree,Highest_Degree
0,1976.0,172.0,253.0,1.4709,1.4709,7.0
1,1977.0,712.0,1257.0,1.7654,1.7654,49.0
2,1978.0,1137.0,2228.0,1.9595,1.9595,84.0
3,1979.0,1219.0,2460.0,2.0180,2.0180,90.0
4,1980.0,1321.0,2628.0,1.9894,1.9894,92.0
5,1981.0,1368.0,2702.0,1.9751,1.9751,86.0
6,1983.0,1752.0,3737.0,2.1330,2.1330,94.0
7,1984.0,1846.0,4145.0,2.2454,2.2454,100.0
8,1985.0,2014.0,4547.0,2.2577,2.2577,114.0
9,1986.0,2167.0,4929.0,2.2746,2.2746,127.0
10,1987.0,2203.0,4951.0,2.2474,2.2474,119.0

In [62]:
Yearly_Comparison_df = pd.DataFrame(columns=['Year','Number_of_Nodes','Number_of_Edges','Average_In_Degree', 'Average_Out_Degree', 'Highest_Degree'])